<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/png" href="images/broken_heart.png" />

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <style>
    .chip-btn {
        cursor: pointer;
        float: right;
        font-size: 16px;
        line-height: 32px;
        padding-left: 8px;
    }
    </style>
  </head>

  <body class="container">

    <div class="row">
      <div class="col s12">
      <form id="update-form" action="#">
		<h4>{{ person }}</h4>
		<p>
        <input name="pref" type="radio" id="pref1" value="hates" />
        <label class="red-text" for="pref1">Hates</label>
		</p>
		<p>
        <input name="pref" type="radio" id="pref2" value="likes" />
        <label class="light-green-text" for="pref2">Likes</label>
        </p>
            <input type="text" id="thing" name="thing" placeholder="thing">
        <input type="hidden" name="action" value="add">
        <button class="btn waves-effect waves-light" type="submit" name="action">Add
            <i class="material-icons right">send</i>
        </button>
      </form>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <ul class="collapsible" data-collapsible="accordion">
          <li>
            <div class="collapsible-header">
              Quick Add
            </div>
            <div class="collapsible-body">
                <div id="speed-list"></div>
            </div>
          </li>
          <li>
            <div class="collapsible-header">
              Database
            </div>
            <div class="collapsible-body">
              <pre id="db-json" style="font-family:Courier,monospace;"></pre>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
    <a href="/">Home</a>
    </div>

    <script type="text/javascript">
    function refresh_db_display() {
        var db = null;

        $.get("get_db", function (data) {
            console.log('db', data);
            db = data;
            $('#db-json').text(JSON.stringify(data, null, 2));
        })
        .done(function () {
            $.get("list_searches", function (data) {
                console.log('searches', data);

                if (!db) return;

                var $speed_list = $("#speed-list");
                $speed_list.empty();
                $.each(data.search_results, function (i, search) {
                    if (_.includes(db.hates, search._id)
                        || _.includes(db.likes, search._id)
                        || _.includes(db.ignores, search._id))
                        return;

                    var escaped = _.escape(search._id);
                    $speed_list.append(
                        '<div class="chip" data-thing="' + escaped + '">' +
                        escaped +
                        '<i class="chip-btn material-icons speed-add" data-pref="ignores" title="Ignore">clear</i>' +
                        '<i class="chip-btn material-icons red-text text-accent-4 speed-add" data-pref="hates" title="Hate">thumb_down</i>' +
                        '<i class="chip-btn material-icons light-green-text text-lighten-1 speed-add" data-pref="likes" title="Like">thumb_up</i>' +
                        '</div>');
                });
            });
        });
    }

    function post_update(updateObj) {
        var json = JSON.stringify(updateObj);
        console.log('update', updateObj);
        $.ajax({
            accepts: "application/json",
            contentType: "application/json",
            type: "POST",
            url: "update",
            data: json,
            success: function (data) {
                console.log("server returned", data);
                refresh_db_display();
            }
        });
    }

    $(document).on('click', '.speed-add', function (e) {
        $target = $(e.target);
        var updateObj = {
            pref: $target.data('pref'),
            thing: $target.parent().data('thing'),
            action: 'add'
        };
        post_update(updateObj);
    });

    $("#update-form").submit(function (e) {
        e.preventDefault();
        e.stopPropagation();
        var $elem = $(e.target);
        var updateObj = {};
        $.each($elem.serializeArray(), function (i, field) {
            updateObj[field.name] = field.value;
        });
        post_update(updateObj);
        $("#thing").val("");
    });
    
    refresh_db_display();
    </script>
  </body>
</html>

